{
    "token": "12345",
    "super_user_ids": [
        "1503437691"
    ],
    "guild_config": {
        "1734834933302305": {
            "guild_id": "1734834933302305",
            "super_user_ids": [
                "3220213989"
            ],
            "menu_channel_ids": [
                "4596955235977832",
                "9452445977891678",
                "9817420795810263"
            ],
            "help_category_id": "5522318420298572",
            "helper_role_ids": [
                "3286280",
                "2629799"
            ]
        },
        "3801738433121114": {
            "guild_id": "3801738433121114",
            "super_user_ids": [
                "3220213989"
            ],
            "menu_channel_ids": [
                "7706894187745330"
            ],
            "help_category_id": "3609467513475849",
            "helper_role_ids": [
                "361916"
            ]
        }
    }
}